<h2 class="p-4">Reportee Feedback</h2>
<div *ngIf='!managerAssessmentData' class="noRecords"> No records Found</div>
<table class="table" *ngIf='managerAssessmentData'>
    <thead>
      <tr>
        <th scope="col">Emp Name</th>
        <th scope="col">Accessor Name</th>
        <th scope="col">Feedback</th>
        <th scope="col">Feedback Message</th>
        <th scope="col">Status</th>
        <th scope="col">Created By</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor ='let item of managerAssessmentData'>
        <th scope="row">{{item.employeeName}}</th>
        <th>{{item.accessorName}}</th>
        <td>{{item.feedback}}</td>
        <td>{{item.feedbackMessage}}</td>
        <td>{{item.status}}</td>
        <td>{{item.createdBy}}</td>
      </tr>
    </tbody>
  </table>
