<h2 class="p-4">Feedback's Request</h2>
<div class="card p-4 mr-4">
    <div *ngIf='!assigneeAssessmentData' class="noRecords"> No records Found</div>
    <table class="table table-striped table-bordered" *ngIf='assigneeAssessmentData'>
        <thead class="thead-dark">
            <tr>
                <th scope="col">Emp Name</th>
                <th scope="col">Feedback Request Message</th>
                <th scope="col">Message</th>
                <th scope="col">Status</th>
                <th scope="col">Created By</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let item of assigneeAssessmentData'>
                <th scope="row">{{item.employeeName}}</th>
                <td>{{item.feedbackMessage}}</td>
                <td>{{item.feedback}}</td>
                <td>{{item.status}}</td>
                <td>{{item.createdBy}}</td>
                <td><button *ngIf="item.status != 'Accessor Completed'" (click)="view(item)"
                        class="btn btn-info">View</button></td>
            </tr>
        </tbody>
    </table>


    <div class="modal" tabindex="-1" role="dialog" id="viewMemberModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Give Feedback</h5>
                    <button type="button" class="close" (click)='resetForm()' data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea type="text" rows="4" class="form-control" [(ngModel)]="feedbackMessage"
                        id="feedbackMessage" placeholder="Enter Feedback for {{viewFeedbackData?.createdBy}}"
                        name="feedbackMessage"></textarea>
                    <!-- <p>Feedback data for {{viewFeedbackData?.createdBy}}</p> -->
                </div>
                <div class="modal-footer">
                    <button type="button" [disabled]='!feedbackMessage' class="btn btn-primary" (click)="requestFb()">Complete Feedback</button>
                    <button type="button" (click)='resetForm()' class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="showMessage" class="alert alert-success">
        Feedback has been completed successfully !
    </div>

</div>