<div class="container ">
  <h1 class="text-center">Seek-Feedback</h1>
  <div class="card">
    <div class="card-body">
      <form class="form-group">
        <div class="form-group">
          <label for="email">Accessor :</label>
          <input class="form-control" [(ngModel)]="accessorId"
            placeholder="Enter Accessor Name/ID" name="accessorId">
        </div>
        <div class="form-group">
          <label for="pwd">Message:</label>
          <textarea type="text" rows="4" class="form-control" [(ngModel)]="feedbackMessage" id="feedbackMessage"
            placeholder="Enter Message for Feedback" name="feedbackMessage"></textarea>
        </div>
        <button (click)=sendRequest() class="btn btn-success">Send Feedback Request</button>
      </form>
      <div class="alert alert-warning" *ngIf='failFbRequest'>{{errorMessage}}</div>
      <div class="alert alert-success" *ngIf='successFbRequest'>{{successMessage}}</div>
    </div>
  </div>
</div>