<app-menu></app-menu>

<h4 style="text-align: right;">{{message}}</h4>
<div class="d-flex">
    <div class="d-flex flex-column">
        <button (click)='seekFeedback()' class="btn btn-primary m-4">Seek Feedback</button>

        <button (click)='reporteeFeedback()' class="btn btn-primary m-4">Reportee Feedback</button>

        <button (click)='feedbackRequest()' class="btn btn-primary m-4">Feedback Request</button>

        <button (click)='myFeedback()' class="btn btn-primary m-4">My Feedback</button>
    </div>
    <div style="width: 100%;">
        <div>
            <app-seek-feedback *ngIf="seekFeedbackCheck"></app-seek-feedback>
            <app-reportee-feedback *ngIf="reporteeFeedbackCheck"></app-reportee-feedback>
            <app-feedback-request *ngIf="feedbackRequestCheck"></app-feedback-request>
            <app-my-feedback *ngIf="myFeedbackCheck"></app-my-feedback>
        </div>

        <div class="d-flex align-self-end"
            *ngIf="(myFeedbackCheck||feedbackRequestCheck||reporteeFeedbackCheck||seekFeedbackCheck)">
            <button (click)=home() class="btn btn-warning m-4">Cancel</button>
        </div>
</div>

</div>